html {
  font-size: 90.5%;
}

body {
  min-height: 100vh;
  width: 100vw;
  background-color: #34495e;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: aliceblue;
  font-family: "Raleway", sans-serif;
}

.mt-16 {
  margin-top: 16px;
}

.mb-16 {
  margin-top: 16px;
}

.App {
  text-align: center;
}

.App-link {
  color: #8be3fb;
}

/* div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  } */

flex-1 {
  flex: 1;
}

flex-2 {
  flex: 2;
}

p {
  font-size: 4rem;
}

h1 {
  font-size: 7rem;
  text-transform: capitalize;
}

.h1style {
  min-width: 20rem;
  width: 60rem;
  padding: 2rem 2rem;
  background-color: azure;
  color: #2980b9;
  border-radius: 5rem;
  box-shadow: 0rem 2rem 2rem -1.5rem rgba(0, 0, 0, 0.5);
  margin-top: 2rem;
  text-align: center;
}

.btn,
.btnInner {
  margin: auto;
  margin-top: 2rem;
  border: none;
  outline: none;
  padding: 1rem 3rem;
  background-color: #2980b9;
  color: aliceblue;
  cursor: pointer;
  border-radius: 1rem;
  font-size: 3rem;
}

.btnInner {
  background-color: #d12b54;
  padding: 0.7rem 1.5rem;
  font-size: 1.5rem;
  margin-left: 4rem;
}

/* .btn:hover {
  background-color: #136ca7;
  } */

form {
  background: cornflowerblue;
  padding: 2rem;
  border-radius: 1rem;
  outline: none;
  text-align: left;
}

form label {
  margin-top: 2rem;
  font-size: 1.5rem;
  text-align: left;
  text-transform: capitalize;
}

form input {
  min-width: 20rem;
  height: 2rem;
  border-radius: 0.5rem;
  font-size: 1.2rem;
  text-align: left;
  border: none;
  margin-top: 0.3rem;
  padding: 0.5rem;
  outline: none;
}

button[type] {
  border: none;
  padding: 0.4rem 1rem;
  text-align: center;
  margin-top: 1rem;
  font-family: "Raleway", sans-serif;
  border-radius: 0.3rem;
  cursor: pointer;
  outline: none;
}

button[type]:hover {
  background-color: darkblue;
  color: aliceblue;
}

.showDataStyle {
  min-width: 20rem;
  width: 60rem;
  min-height: 2rem;
  padding: 1rem;
  background: rgb(68, 116, 207);
  color: aliceblue;
  margin-top: 4rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  border-radius: 1rem;
  box-shadow: 0 1rem 1rem -0.8rem rgba(0, 0, 0, 0.5);
}

.showDataStyle p {
  font-size: 1.5rem;
}

.showDataStyle p:first-child {
  font-weight: bold;
}

body {
  background-color: #b3e5fc;
  border-radius: 10px;
  font-family: "Raleway", sans-serif;
}

h2 {
  text-align: center;
  margin: 20px 0;
}

.textLeft {
  text-align: left;
}

.loadingDiv {
  height: 100vh;
  display: grid;
  place-items: center;
}

.card {
  height: auto;
  min-height: 300px;
  display: flex;
  overflow: hidden;
  overflow-x: hidden;
  overflow-y: hidden;
  background: #ffff;
  background-image: initial;
  background-position-x: initial;
  background-position-y: initial;
  background-size: initial;
  background-attachment: initial;
  background-origin: initial;
  background-clip: initial;
  background-color: #9eb5b2cf;
  border-radius: 0.5rem;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
  margin: 0.75rem;
  margin-top: 0.75rem;
  margin-right: 0.75rem;
  margin-bottom: 0.75rem;
  margin-left: 0.75rem;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
    rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}

h2 {
  font-weight: 800;
}

.profile-image {
  /* min-width: 33.33%; */
}

.description {
  flex: 2;
  padding: 16px;
}

.description_title {
  color: black;
  font-size: 16px;
  font-weight: 500;
}

.description_value {
  color: black;
  font-size: 16px;
  font-weight: 500;
}

.episode-names_list {
  color: black;
  font-size: 16px;
  font-weight: 500;
}

.image {
  min-width: 155px;
  flex: 1;
  /* margin-right: 20px; */
}

.stats {
  background: #f2f5f8 !important;
  color: #000 !important;
}

.articles {
  font-size: 10px;
  color: #a1aab9;
}

.number1 {
  font-weight: 500;
}

.origin {
  font-size: 10px;
  color: #a1aab9;
}

.number2 {
  font-weight: 500;
}

.location {
  font-size: 15px;
  color: #a1aab9;
}

.number3 {
  font-weight: 500;
}

.section {
  flex: 1 1 0%;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 0%;
  display: flex;
  flex-direction: column;
  -webkit-box-pack: center;
  justify-content: center;
}
